html {
  line-height: 1.5;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: inherit;
  background-color: #eee;
  &::-webkit-scrollbar {
    display: none;
  }
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.inner {
  padding: 0 25px;
}
