@font-face {
  font-family: UnDbold;
  src: url(../../fonts/051d1426d208eda9-s.p.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: UnDbold_Fallback;
  src: local("Arial");
  ascent-override: 152.59%;
  descent-override: 21.41%;
  line-gap-override: 0%;
  size-adjust: 58.39%;
}

@font-face {
  font-family: Howlt;
  src: url(../../fonts/3f7e9b1c34719cf8-s.p.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Howlt_Fallback;
  src: local("Arial");
  ascent-override: 98.74%;
  descent-override: 38.59%;
  line-gap-override: 0%;
  size-adjust: 108.44%;
}

@font-face {
  font-family: HowltReg;
  src: url(../../fonts/45ab4dc4133b69bf-s.p.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: HowltReg_Fallback;
  src: local("Arial");
  ascent-override: 90.14%;
  descent-override: 22.89%;
  line-gap-override: 0%;
  size-adjust: 106.17%;
}

@font-face {
  font-family: SuisseReg;
  src: url(../../fonts/6d3314aaa6cf40fa-s.p.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: SuisseReg_Fallback;
  src: local("Arial");
  ascent-override: 91.01%;
  descent-override: 25.28%;
  line-gap-override: 0%;
  size-adjust: 102.74%;
}
