// font family
$UnDbold: "UnDbold", "UnDbold_Fallback";
$Howlt: "Howlt", "Howlt_Fallback";
$HowltReg: "HowltReg", "HowltReg_Fallback";
$SuisseReg: "SuisseReg", "SuisseReg_Fallback";

// signature color
$breadsMain: #93862c;
$breadsPoint: #96ff00;
$pastryMain: #0000c2;
$pastryPoint: #ffab91;
$ingredientsMain: #ff814a;
$ingredientsPoint: #96ff00;
