.sc-intro {
  display: flex;
  align-items: center;
  height: 100vh;
  .grid {
    display: grid;
    grid-template-columns: 65vw 1fr;
    gap: 8px;
    padding: 0 25px;
    .loop-area {
      height: calc((4vh + 1vh) * 14);
      overflow: hidden;
    }
    .desc-area {
      margin-right: 1vw;
      p {
        font-family: $Howlt;
        font-size: 1.8vw;
        font-weight: 700;
        line-height: 115%;
      }
    }
  }
}
