.sc-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  .loading-inner {
    position: relative;
    height: 100vh;
    background-color: $breadsMain;
    padding: 0 25px;
    .logo-wrap {
      display: flex;
      gap: 1%;
      width: 100%;
      position: absolute;
      bottom: 0;
      [class*="-box"] {
        transform: translateY(100%);
        svg {
          height: calc(52svh);
          fill: $breadsPoint;
        }
      }
    }
  }
}
