#footer {
  .grid {
    display: grid;
    grid-template-rows: 1fr 90fr;
    height: 100dvh;
    padding: 25px;
    .copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 12px;
    }
    .menu-area {
      display: flex;
      justify-content: space-between;
      .menu-list {
        font-family: $Howlt;
        font-weight: 700;
        font-size: 15px;
        .menu-item {
          margin-bottom: 2px;
        }
      }
      .contact-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .contact-item {
          &:first-child {
            line-height: 1;
          }
          svg {
            width: 52px;
            margin-top: 10px;
          }
        }
      }
    }
    .logo-area {
      display: grid;
      align-items: end;
      .link-logo {
        display: flex;
        gap: 1%;
        height: calc((100svh - 48svh - 50px - 48px));
        svg {
          height: 480px;
        }
      }
    }
  }
}
