#header {
  height: 100vh;
  .grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 25px;
    padding: 25px;
    .logo-area {
      display: flex;
      align-items: flex-end;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      height: calc(52svh - 75px);
      .link-logo {
        display: flex;
        gap: 1%;
        [class*="-box"] {
          svg {
            height: 480px;
          }
        }
      }
    }
    .hero-area {
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48svh;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}

#gnb {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 10px;
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-item {
      font-family: $Howlt;
      font-size: 15px;
      font-weight: 700;
      &:last-child {
        display: flex;
        align-items: center;
        gap: 32px;
      }
      button {
        margin-bottom: 2px;
      }
    }
  }
}
